In [1]:
import pandas as pd

In [ ]:
with pd.HDFStore()

In [10]:
pg

,geom_id,jurisdiction_id,pda_id,tpp_id,exp_id,opp_id,zoningmodcat,perffoot,perfarea
0,10305106092872,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0
1,11107351665227,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0
2,11030175960628,33000,NaN,NaN,NaN,NaN,33000NANANANA,1,0
3,6381677629073,97,NaN,NaN,NaN,NaN,00097NANANANA,0,0
4,314875459798,26000,NaN,b1,NaN,NaN,26000NAb1NANA,1,1
5,8421216428506,26000,NaN,b2,NaN,NaN,26000NAb2NANA,1,1
6,858019333320,57792,NaN,NaN,NaN,NaN,57792NANANANA,1,0
7,4014739544205,20018,NaN,NaN,NaN,NaN,20018NANANANA,1,0
8,14651032512384,13,NaN,NaN,NaN,NaN,00013NANANANA,0,0
9,10084939736689,8142,NaN,NaN,NaN,NaN,08142NANANANA,1,0
10,982340884052,8142,NaN,NaN,NaN,NaN,08142NANANANA,1,0
11,3297694610749,68378,NaN,NaN,NaN,NaN,68378NANANANA,1,0
12,5244063126141,53070,NaN,NaN,NaN,NaN,53070NANANANA,1,0
13,5246675871620,2252,NaN,NaN,NaN,NaN,02252NANANANA,1,0
14,9455522082130,13,NaN,NaN,NaN,NaN,00013NANANANA,1,0
15,1300144039329,2252,NaN,NaN,NaN,NaN,02252NANANANA,1,0
16,14564630144624,13,NaN,NaN,NaN,NaN,00013NANANANA,1,0
17,7902256327940,68378,NaN,NaN,NaN,NaN,68378NANANANA,1,0
18,14519100755411,68378,NaN,NaN,NaN,NaN,68378NANANANA,1,1
19,3551148189592,13,NaN,NaN,NaN,NaN,00013NANANANA,1,0
20,12322420550845,68378,NaN,NaN,NaN,NaN,68378NANANANA,1,0
21,16359957091365,55,NaN,NaN,NaN,NaN,00055NANANANA,1,0
22,5670641087308,55,NaN,NaN,NaN,NaN,00055NANANANA,1,0
23,16743654473766,67000,SFO1,lrt1,NaN,NaN,67000SFO1lrt1NANA,1,1
24,11308502558906,13,NaN,NaN,NaN,NaN,00013NANANANA,0,0
25,2907350571787,13,NaN,NaN,NaN,NaN,00013NANANANA,1,0
26,2733963670045,81,NaN,NaN,NaN,NaN,00081NANANANA,0,0
27,16762220546132,56784,NaN,NaN,NaN,NaN,56784NANANANA,1,0
28,8060700748042,8142,NaN,NaN,NaN,NaN,08142NANANANA,1,0
29,13866490694025,8142,NaN,NaN,NaN,NaN,08142NANANANA,1,0
...,...,...,...,...,...,...,...,...,...
1956178,4428025485027,10345,NaN,b2,NaN,NaN,10345NAb2NANA,1,1
1956179,15368690029298,10345,NaN,b3,NaN,NaN,10345NAb3NANA,1,1
1956180,16331169437682,10345,NaN,b2,NaN,NaN,10345NAb2NANA,1,1
1956181,11371080124441,10345,NaN,b2,NaN,NaN,10345NAb2NANA,1,1
1956182,17443090262875,68000,NaN,NaN,NaN,NaN,68000NANANANA,1,1
1956183,13338962291210,68000,NaN,NaN,NaN,NaN,68000NANANANA,1,1
1956184,15857476391965,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956185,3325649865198,10345,NaN,b3,NaN,NaN,10345NAb3NANA,1,1
1956186,5268129435272,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956187,2934201203055,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956188,16412707348470,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956189,10719125490476,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956190,9524802001297,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956191,4627587542809,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956192,17337469406122,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956193,10509257105655,68000,NaN,b3,NaN,NaN,68000NAb3NANA,1,1
1956194,10492948128874,53070,NaN,b3,NaN,NaN,53070NAb3NANA,1,1
1956195,15717500668736,2252,NaN,b3,NaN,NaN,02252NAb3NANA,1,1
1956196,17405476053344,16000,NaN,NaN,NaN,NaN,16000NANANANA,1,0
1956197,241819491555,53070,NaN,b3,NaN,NaN,53070NAb3NANA,1,1
1956198,17425151366280,13,NaN,NaN,NaN,NaN,00013NANANANA,1,0
1956199,11209486854319,53070,NaN,NaN,NaN,NaN,53070NANANANA,1,0
1956200,808226589531,16000,NaN,NaN,NaN,NaN,16000NANANANA,1,0
1956201,8631134376373,2252,NaN,b3,NaN,NaN,02252NAb3NANA,1,1
1956202,3059940917446,53070,NaN,b3,NaN,NaN,53070NAb3NANA,1,1
1956203,17158666132196,2252,NaN,NaN,NaN,NaN,02252NANANANA,1,0
1956204,16389503450045,16000,NaN,NaN,NaN,NaN,16000NANANANA,1,0
1956205,1496694834659,52582,NaN,NaN,NaN,NaN,52582NANANANA,1,0
1956206,10694584892329,13,NaN,NaN,NaN,NaN,00013NANANANA,1,0
1956207,10923365809666,41,NaN,b2,NaN,NaN,00041NAb2NANA,0,1