In [1]:
from __future__ import division
import pandas as pd
from urbansim.utils import misc

### Steps to get baseline results

* Get block ids in household and jobs tables via parcels table
* Save to new HDF5 file and set up config file
* Set up indicators container on Paris
* Set up notebook to get results from indicators API on Paris

In [6]:
# Read parcel-to-block table
parcel_block = pd.read_csv('parcel_to_block.csv', dtype=str)
parcel_block = parcel_block.set_index('parcel_id')

# Read block geometry table and set block_id to index of blocks table
block_geom = pd.read_csv('block_geoms.csv', dtype='str')
blocks = pd.DataFrame(index=block_geom.block_id)

In [7]:
len(blocks)

109228

In [8]:
# Read HDF5 file of baseline data
with pd.HDFStore('./../data/2015_09_01_bayarea_v3.h5') as store:
    parcels = store.parcels
    buildings = store.buildings
    households = store.households
    jobs = store.jobs

In [9]:
# Read existing file

store = pd.HDFStore('/home/paul/Documents/Projects/indicators/data/bay_area_block_model_data.h5')

In [10]:
# Get block info to blocks table
blocks['square_meters_land'] = store.blocks.square_meters_land

In [11]:
# Get block_ids to parcels and buildings
parcels['block_id'] = misc.reindex(parcel_block.block_id, parcels.index.astype(str))
buildings['block_id'] = misc.reindex(parcel_block.block_id, buildings.parcel_id.astype(str))

In [12]:
# Get block_ids to jobs and households

jobs['block_id'] = misc.reindex(buildings.block_id, jobs.building_id)
households['block_id'] = misc.reindex(buildings.block_id, households.building_id)

In [13]:
new_store = pd.HDFStore('./../data/bayarea_block_baseline.h5', mode='w')

In [14]:
new_store['parcels'] = parcels
new_store['buildings'] = buildings
new_store['blocks'] = blocks
new_store['households'] = households
new_store['jobs'] = jobs

/home/paul/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['apn', 'parcel_id_local', 'imputation_flag', 'block_id']]

  exec(code_obj, self.user_global_ns, self.user_ns)
/home/paul/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['redfin_home_type', 'costar_property_type', 'costar_rent', 'block_id']]

  exec(code_obj, self.user_global_ns, self.user_ns)
/home/paul/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['block_id']]

  exec(code_obj, self.user_global_ns, self.user_ns)
/home/paul/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['block_id']]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
new_store['drive_edges'] = store.drive_edges
new_store['drive_nodes'] = store.drive_nodes

In [16]:
new_store.close()
store.close()

In [2]:
new_store = pd.HDFStore('./../data/bayarea_block_baseline.h5', mode='r')

In [3]:
new_store.buildings

,parcel_id,development_type_id,improvement_value,residential_units,residential_sqft,sqft_per_unit,non_residential_sqft,building_sqft,nonres_rent_per_sqft,res_price_per_sqft,stories,year_built,redfin_sale_price,redfin_sale_year,redfin_home_type,costar_property_type,costar_rent,building_type_id,block_id
building_id,,,,,,,,,,,,,,,,,,,
1,742974,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,302.769751,1,1945,NaN,NaN,,,,1,060411141003012
2,744961,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,254.429279,1,1965,NaN,NaN,,,,1,060411311003059
3,1442641,1,53262.87,1,1568,1568.00000,0,1568.00000,0.000000,183.474166,1,1964,NaN,NaN,,,,1,060855082023014
4,190969,2,245000.00,0,0,1266.00000,1595,1266.00000,0.000000,0.000000,2,1992,340000.0,2003.0,Condo/Coop,,,3,060014308004003
5,308709,2,283500.00,0,0,1513.00000,1513,1513.00000,0.000000,0.000000,1,1978,442000.0,2004.0,Condo/Coop,,,3,060014418002005
6,308688,2,304500.00,0,0,1717.00000,1717,1717.00000,0.000000,0.000000,1,1978,620000.0,2006.0,Condo/Coop,,,3,060014418002006
7,328712,1,0.00,0,0,1393.00000,0,0.00000,0.000000,0.000000,1,2008,670250.0,2008.0,Single Family Residential,,,1,060014415031233
8,369900,2,0.00,0,0,1387.00000,0,0.00000,0.000000,0.000000,1,1996,426000.0,2005.0,Townhouse,,,3,060014505022004
9,742661,1,116580.00,1,1018,1018.00000,0,1018.00000,0.000000,474.350534,1,1946,703000.0,2007.0,Single Family Residential,,,1,060411141003015
10,155,19,0.00,0,0,0.00000,145231,145231.00000,18.873951,0.000000,3,1997,NaN,NaN,,Specialty,33,0,060019832001029
11,716626,1,457526.00,1,3693,3693.00000,0,3693.00000,0.000000,124.824432,1,1998,95000.0,1996.0,Single Family Residential,,,1,060133040041008
12,742716,1,345454.00,1,2029,2029.42425,0,2029.42425,0.000000,324.716025,1,1992,NaN,NaN,,,,1,060411141002002
13,742810,1,53636.00,1,2029,2029.42425,0,2029.42425,0.000000,275.357742,1,1931,NaN,NaN,,,,1,060411141003005
14,742814,1,87577.00,1,2029,2029.42425,0,2029.42425,0.000000,305.461180,1,1964,NaN,NaN,,,,1,060411141003005
15,742822,1,95050.00,1,1106,1106.00000,0,1106.00000,0.000000,448.074261,1,1957,675000.0,2005.0,Single Family Residential,,,1,060411141003005
16,743438,1,9923.00,1,2029,2029.42425,0,2029.42425,0.000000,325.197510,1,1968,NaN,NaN,,,,1,060411142001006
17,743440,1,194004.00,1,2029,2029.42425,0,2029.42425,0.000000,325.934255,1,1972,NaN,NaN,,,,1,060411142001006
18,743444,1,166000.00,1,1354,1354.00000,0,1354.00000,0.000000,411.506401,1,1951,18500.0,2006.0,Single Family Residential,,,1,060411142001006
19,743453,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,325.197510,1,1968,NaN,NaN,,,,1,060411142001006
20,743482,2,0.00,1,2029,2029.42425,0,2029.42425,0.000000,342.456521,1,1968,NaN,NaN,,,,3,060411142001006
21,743655,2,182066.00,1,2029,2029.42425,0,2029.42425,0.000000,341.212111,1,1960,NaN,NaN,,,,3,060411142001006
22,743967,1,101570.00,1,851,851.00000,0,851.00000,0.000000,546.872544,1,1953,315000.0,2012.0,Single Family Residential,,,1,060411141001023
23,743993,1,45934.00,1,2029,2029.42425,0,2029.42425,0.000000,303.067832,1,1947,NaN,NaN,,,,1,060411141001022
24,744008,1,194339.00,1,2261,2261.00000,0,2261.00000,0.000000,259.028036,1,1914,384000.0,1998.0,Single Family Residential,,,1,060411141001022
25,744029,1,109288.00,1,2029,2029.42425,0,2029.42425,0.000000,275.493275,1,1932,NaN,NaN,,,,1,060411141001025
26,744314,1,84213.00,1,2029,2029.42425,0,2029.42425,0.000000,305.310995,1,1963,NaN,NaN,,,,1,060411141001022
27,744321,1,42116.00,1,2029,2029.42425,0,2029.42425,0.000000,274.277141,1,1923,NaN,NaN,,,,1,060411141001007
28,744558,1,32500.00,1,993,993.00000,0,993.00000,0.000000,437.908032,1,1924,575000.0,2010.0,Single Family Residential,,,1,060411141001031
29,744559,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,302.769751,1,1945,NaN,NaN,,,,1,060411141001031
30,744566,1,54776.00,1,2029,2029.42425,0,2029.42425,0.000000,274.411758,1,1924,NaN,NaN,,,,1,060411141001039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843322,344544,1,0.00,2,0,0.00000,0,0.00000,0.000000,0.000000,1,2009,NaN,NaN,None,None,None,1,060014415031030
1843323,344544,1,0.00,55,0,0.00000,0,0.00000,0.000000,0.000000,1,2009,NaN,NaN,None,None,None,1,060014415031030
1843324,298179,2,0.00,10,0,0.00000,0,0.00000,0.000000,0.000000,1,1974,NaN,NaN,None,None,None,3,060014403053000
1843325,293079,2,0.00,3,0,0.00000,0,0.00000,0.000000,0.000000,1,1996,NaN,NaN,None,None,None,3,060014403322000
1843326,8114,1,0.00,28,0,0.00000,0,0.00000,0.000000,0.000000,1,2015,NaN,NaN,None,None,None,1,060014034001010
1843327,144468,2,0.00,505,0,0.00000,0,0.00000,0.000000,0.000000,1,2006,NaN,NaN,None,None,None,3,060014287001004
1843328,390484,1,0.00,174,0,0.00000,0,0.00000,0.000000,0.000000,1,1941,NaN,NaN,None,None,None,1,060019900000009
1843329,390484,2,0.00,120,0,0.00000,0,0.00000,0.000000,0.000000,1,1941,NaN,NaN,None,None,None,3,060019900000009
1843330,155,1,0.00,45,0,0.00000,0,0.00000,0.000000,0.000000,1,2015,NaN,NaN,None,None,None,1,060019832001029
1843331,155,1,0.00,5,0,0.00000,0,0.00000,0.000000,0.000000,1,2015,NaN,NaN,None,None,None,1,060019832001029
1843332,6370,1,0.00,50,0,0.00000,0,0.00000,0.000000,0.000000,1,2005,NaN,NaN,None,None,None,1,060014029001014
1843333,131556,1,0.00,49,0,0.00000,0,0.00000,0.000000,0.000000,1,1931,NaN,NaN,None,None,None,1,060019900000002
1843334,131556,2,0.00,1136,0,0.00000,0,0.00000,0.000000,0.000000,1,1931,NaN,NaN,None,None,None,3,060019900000002
1843335,126483,2,0.00,30,0,0.00000,0,0.00000,0.000000,0.000000,1,1945,NaN,NaN,None,None,None,3,060133920002007
1843336,406347,2,0.00,32,0,0.00000,0,0.00000,0.000000,0.000000,1,1947,NaN,NaN,None,None,None,3,060133901003003
1843337,647647,2,0.00,265,0,0.00000,0,0.00000,0.000000,0.000000,1,1994,NaN,NaN,None,None,None,3,060133922003012
1843338,412982,2,0.00,7,0,0.00000,0,0.00000,0.000000,0.000000,1,1966,NaN,NaN,None,None,None,3,060133383011006
1843339,714971,2,0.00,8,0,0.00000,0,0.00000,0.000000,0.000000,1,1960,NaN,NaN,None,None,None,3,060133530022004
1843340,711534,2,0.00,11,0,0.00000,0,0.00000,0.000000,0.000000,1,1958,NaN,NaN,None,None,None,3,060133540011045
1843341,682636,2,0.00,9,0,0.00000,0,0.00000,0.000000,0.000000,1,1984,NaN,NaN,None,None,None,3,060133461023000
1843342,1754694,2,0.00,9,0,0.00000,0,0.00000,0.000000,0.000000,1,1980,NaN,NaN,None,None,None,3,060952518043007
1843343,1855653,1,0.00,341,0,0.00000,0,0.00000,0.000000,0.000000,1,1989,NaN,NaN,None,None,None,1,060959800001017
1843344,1855653,2,0.00,486,0,0.00000,0,0.00000,0.000000,0.000000,1,1989,NaN,NaN,None,None,None,3,060959800001017
1843345,1084785,10,0.00,0,0,0.00000,1050,1050.00000,15.426374,0.000000,1,1964,NaN,NaN,None,None,None,4,060816140003019
1843346,1122101,10,0.00,0,0,0.00000,50137,50137.00000,20.193146,0.000000,1,1964,NaN,NaN,None,None,None,4,060816077021001
1843347,2054503,10,0.00,0,0,0.00000,105630,105630.00000,13.719346,0.000000,1,1964,NaN,NaN,None,None,None,4,NaN
1843348,1616341,10,0.00,0,0,0.00000,68880,68880.00000,18.817036,0.000000,1,1964,NaN,NaN,None,None,None,4,060855043202000
1843349,88641,10,0.00,0,0,0.00000,58012,58012.00000,22.070056,0.000000,1,1964,NaN,NaN,None,None,None,4,060014045011011
1843350,1754694,10,0.00,0,0,0.00000,42525,42525.00000,11.109886,0.000000,1,1964,NaN,NaN,None,None,None,4,060952518043007
1843351,2054504,10,0.00,0,0,0.00000,441000,441000.00000,12.470796,0.000000,1,1964,NaN,NaN,None,None,None,4,NaN