In [20]:
import pandas as pd
import requests

In [48]:
with pd.HDFStore('./../data/bayarea_block_baseline.h5') as store:
    hh = store.households
    buildings = store.buildings

In [38]:
hh.columns

Index([u'taz', u'serialno', u'puma5', u'income', u'persons', u'hht',
       u'unittype', u'noc', u'bldgsz', u'tenure', u'vehicl', u'hinccat1',
       u'hinccat2', u'hhagecat', u'hsizecat', u'hfamily', u'hunittype',
       u'hnoccat', u'hwrkrcat', u'h0004', u'h0511', u'h1215', u'h1617',
       u'h1824', u'h2534', u'h3549', u'h5064', u'h6579', u'h80up', u'hworkers',
       u'hwork_f', u'hwork_p', u'huniv', u'hnwork', u'hretire', u'hpresch',
       u'hschpred', u'hschdriv', u'htypdwel', u'hownrent', u'hadnwst',
       u'hadwpst', u'hadkids', u'bucketbin', u'originalpuma', u'hmultiunit',
       u'building_id', u'block_id'],
      dtype='object')

In [47]:
hh.hownrent.value_counts()

1    1530771
2    1077248
Name: hownrent, dtype: int64

In [50]:
hh.groupby('hownrent').agg('mean')

,taz,serialno,puma5,income,persons,hht,unittype,noc,bldgsz,tenure,...,hschpred,hschdriv,htypdwel,hadnwst,hadwpst,hadkids,bucketbin,originalpuma,hmultiunit,building_id
hownrent,,,,,,,,,,,,,,,,,,,,,
1,808.672174,4.915368e+06,2139.433298,99990.987053,2.768758,2.360737,0.0,0.490813,2.411738,1.248181,...,0.353837,0.078178,1.256245,0.146771,0.137275,0.151624,4.483121,2139.433298,0.120659,930178.741125
2,673.033416,4.930568e+06,2209.287363,54943.390530,2.497379,3.344824,0.0,0.492163,5.524158,3.029788,...,0.319015,0.063930,1.805625,0.167315,0.166755,0.127628,4.504253,2209.287363,0.732123,915855.801941

In [49]:
buildings

,parcel_id,development_type_id,improvement_value,residential_units,residential_sqft,sqft_per_unit,non_residential_sqft,building_sqft,nonres_rent_per_sqft,res_price_per_sqft,stories,year_built,redfin_sale_price,redfin_sale_year,redfin_home_type,costar_property_type,costar_rent,building_type_id,block_id
building_id,,,,,,,,,,,,,,,,,,,
1,742974,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,302.769751,1,1945,NaN,NaN,,,,1,060411141003012
2,744961,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,254.429279,1,1965,NaN,NaN,,,,1,060411311003059
3,1442641,1,53262.87,1,1568,1568.00000,0,1568.00000,0.000000,183.474166,1,1964,NaN,NaN,,,,1,060855082023014
4,190969,2,245000.00,0,0,1266.00000,1595,1266.00000,0.000000,0.000000,2,1992,340000.0,2003.0,Condo/Coop,,,3,060014308004003
5,308709,2,283500.00,0,0,1513.00000,1513,1513.00000,0.000000,0.000000,1,1978,442000.0,2004.0,Condo/Coop,,,3,060014418002005
6,308688,2,304500.00,0,0,1717.00000,1717,1717.00000,0.000000,0.000000,1,1978,620000.0,2006.0,Condo/Coop,,,3,060014418002006
7,328712,1,0.00,0,0,1393.00000,0,0.00000,0.000000,0.000000,1,2008,670250.0,2008.0,Single Family Residential,,,1,060014415031233
8,369900,2,0.00,0,0,1387.00000,0,0.00000,0.000000,0.000000,1,1996,426000.0,2005.0,Townhouse,,,3,060014505022004
9,742661,1,116580.00,1,1018,1018.00000,0,1018.00000,0.000000,474.350534,1,1946,703000.0,2007.0,Single Family Residential,,,1,060411141003015
10,155,19,0.00,0,0,0.00000,145231,145231.00000,18.873951,0.000000,3,1997,NaN,NaN,,Specialty,33,0,060019832001029
11,716626,1,457526.00,1,3693,3693.00000,0,3693.00000,0.000000,124.824432,1,1998,95000.0,1996.0,Single Family Residential,,,1,060133040041008
12,742716,1,345454.00,1,2029,2029.42425,0,2029.42425,0.000000,324.716025,1,1992,NaN,NaN,,,,1,060411141002002
13,742810,1,53636.00,1,2029,2029.42425,0,2029.42425,0.000000,275.357742,1,1931,NaN,NaN,,,,1,060411141003005
14,742814,1,87577.00,1,2029,2029.42425,0,2029.42425,0.000000,305.461180,1,1964,NaN,NaN,,,,1,060411141003005
15,742822,1,95050.00,1,1106,1106.00000,0,1106.00000,0.000000,448.074261,1,1957,675000.0,2005.0,Single Family Residential,,,1,060411141003005
16,743438,1,9923.00,1,2029,2029.42425,0,2029.42425,0.000000,325.197510,1,1968,NaN,NaN,,,,1,060411142001006
17,743440,1,194004.00,1,2029,2029.42425,0,2029.42425,0.000000,325.934255,1,1972,NaN,NaN,,,,1,060411142001006
18,743444,1,166000.00,1,1354,1354.00000,0,1354.00000,0.000000,411.506401,1,1951,18500.0,2006.0,Single Family Residential,,,1,060411142001006
19,743453,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,325.197510,1,1968,NaN,NaN,,,,1,060411142001006
20,743482,2,0.00,1,2029,2029.42425,0,2029.42425,0.000000,342.456521,1,1968,NaN,NaN,,,,3,060411142001006
21,743655,2,182066.00,1,2029,2029.42425,0,2029.42425,0.000000,341.212111,1,1960,NaN,NaN,,,,3,060411142001006
22,743967,1,101570.00,1,851,851.00000,0,851.00000,0.000000,546.872544,1,1953,315000.0,2012.0,Single Family Residential,,,1,060411141001023
23,743993,1,45934.00,1,2029,2029.42425,0,2029.42425,0.000000,303.067832,1,1947,NaN,NaN,,,,1,060411141001022
24,744008,1,194339.00,1,2261,2261.00000,0,2261.00000,0.000000,259.028036,1,1914,384000.0,1998.0,Single Family Residential,,,1,060411141001022
25,744029,1,109288.00,1,2029,2029.42425,0,2029.42425,0.000000,275.493275,1,1932,NaN,NaN,,,,1,060411141001025
26,744314,1,84213.00,1,2029,2029.42425,0,2029.42425,0.000000,305.310995,1,1963,NaN,NaN,,,,1,060411141001022
27,744321,1,42116.00,1,2029,2029.42425,0,2029.42425,0.000000,274.277141,1,1923,NaN,NaN,,,,1,060411141001007
28,744558,1,32500.00,1,993,993.00000,0,993.00000,0.000000,437.908032,1,1924,575000.0,2010.0,Single Family Residential,,,1,060411141001031
29,744559,1,0.00,1,2029,2029.42425,0,2029.42425,0.000000,302.769751,1,1945,NaN,NaN,,,,1,060411141001031
30,744566,1,54776.00,1,2029,2029.42425,0,2029.42425,0.000000,274.411758,1,1924,NaN,NaN,,,,1,060411141001039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843322,344544,1,0.00,2,0,0.00000,0,0.00000,0.000000,0.000000,1,2009,NaN,NaN,None,None,None,1,060014415031030
1843323,344544,1,0.00,55,0,0.00000,0,0.00000,0.000000,0.000000,1,2009,NaN,NaN,None,None,None,1,060014415031030
1843324,298179,2,0.00,10,0,0.00000,0,0.00000,0.000000,0.000000,1,1974,NaN,NaN,None,None,None,3,060014403053000
1843325,293079,2,0.00,3,0,0.00000,0,0.00000,0.000000,0.000000,1,1996,NaN,NaN,None,None,None,3,060014403322000
1843326,8114,1,0.00,28,0,0.00000,0,0.00000,0.000000,0.000000,1,2015,NaN,NaN,None,None,None,1,060014034001010
1843327,144468,2,0.00,505,0,0.00000,0,0.00000,0.000000,0.000000,1,2006,NaN,NaN,None,None,None,3,060014287001004
1843328,390484,1,0.00,174,0,0.00000,0,0.00000,0.000000,0.000000,1,1941,NaN,NaN,None,None,None,1,060019900000009
1843329,390484,2,0.00,120,0,0.00000,0,0.00000,0.000000,0.000000,1,1941,NaN,NaN,None,None,None,3,060019900000009
1843330,155,1,0.00,45,0,0.00000,0,0.00000,0.000000,0.000000,1,2015,NaN,NaN,None,None,None,1,060019832001029
1843331,155,1,0.00,5,0,0.00000,0,0.00000,0.000000,0.000000,1,2015,NaN,NaN,None,None,None,1,060019832001029
1843332,6370,1,0.00,50,0,0.00000,0,0.00000,0.000000,0.000000,1,2005,NaN,NaN,None,None,None,1,060014029001014
1843333,131556,1,0.00,49,0,0.00000,0,0.00000,0.000000,0.000000,1,1931,NaN,NaN,None,None,None,1,060019900000002
1843334,131556,2,0.00,1136,0,0.00000,0,0.00000,0.000000,0.000000,1,1931,NaN,NaN,None,None,None,3,060019900000002
1843335,126483,2,0.00,30,0,0.00000,0,0.00000,0.000000,0.000000,1,1945,NaN,NaN,None,None,None,3,060133920002007
1843336,406347,2,0.00,32,0,0.00000,0,0.00000,0.000000,0.000000,1,1947,NaN,NaN,None,None,None,3,060133901003003
1843337,647647,2,0.00,265,0,0.00000,0,0.00000,0.000000,0.000000,1,1994,NaN,NaN,None,None,None,3,060133922003012
1843338,412982,2,0.00,7,0,0.00000,0,0.00000,0.000000,0.000000,1,1966,NaN,NaN,None,None,None,3,060133383011006
1843339,714971,2,0.00,8,0,0.00000,0,0.00000,0.000000,0.000000,1,1960,NaN,NaN,None,None,None,3,060133530022004
1843340,711534,2,0.00,11,0,0.00000,0,0.00000,0.000000,0.000000,1,1958,NaN,NaN,None,None,None,3,060133540011045
1843341,682636,2,0.00,9,0,0.00000,0,0.00000,0.000000,0.000000,1,1984,NaN,NaN,None,None,None,3,060133461023000
1843342,1754694,2,0.00,9,0,0.00000,0,0.00000,0.000000,0.000000,1,1980,NaN,NaN,None,None,None,3,060952518043007
1843343,1855653,1,0.00,341,0,0.00000,0,0.00000,0.000000,0.000000,1,1989,NaN,NaN,None,None,None,1,060959800001017
1843344,1855653,2,0.00,486,0,0.00000,0,0.00000,0.000000,0.000000,1,1989,NaN,NaN,None,None,None,3,060959800001017
1843345,1084785,10,0.00,0,0,0.00000,1050,1050.00000,15.426374,0.000000,1,1964,NaN,NaN,None,None,None,4,060816140003019
1843346,1122101,10,0.00,0,0,0.00000,50137,50137.00000,20.193146,0.000000,1,1964,NaN,NaN,None,None,None,4,060816077021001
1843347,2054503,10,0.00,0,0,0.00000,105630,105630.00000,13.719346,0.000000,1,1964,NaN,NaN,None,None,None,4,NaN
1843348,1616341,10,0.00,0,0,0.00000,68880,68880.00000,18.817036,0.000000,1,1964,NaN,NaN,None,None,None,4,060855043202000
1843349,88641,10,0.00,0,0,0.00000,58012,58012.00000,22.070056,0.000000,1,1964,NaN,NaN,None,None,None,4,060014045011011
1843350,1754694,10,0.00,0,0,0.00000,42525,42525.00000,11.109886,0.000000,1,1964,NaN,NaN,None,None,None,4,060952518043007
1843351,2054504,10,0.00,0,0,0.00000,441000,441000.00000,12.470796,0.000000,1,1964,NaN,NaN,None,None,None,4,NaN

In [41]:
hh.income.describe()

count    2.608019e+06
mean     8.138398e+04
std      8.149481e+04
min     -2.000000e+04
25%      3.020000e+04
50%      6.090000e+04
75%      1.020000e+05
max      1.968504e+06
Name: income, dtype: float64

In [28]:
# Job Density

options = {'area_unit':'miles'}

data = pd.Series(requests.post('http://localhost:5000/model_data/base/density/jobs/tracts', options).json())
df = pd.DataFrame(data, columns=['job_density'])

In [30]:
# Population Density

options = {'area_unit':'miles'}

data = pd.Series(requests.post('http://localhost:5000/model_data/base/density/population/tracts', options).json())
df['pop_density'] = data

In [42]:
# Median Income

options = {'target_var':'income',
          'spatial_agg':'median'}

data = pd.Series(requests.post('http://localhost:5000/model_data/base/descriptive/households/tracts', options).json())
df['income_median'] = data

In [44]:
# Mean Income

options = {'target_var':'income',
          'spatial_agg':'mean'}

data = pd.Series(requests.post('http://localhost:5000/model_data/base/descriptive/households/tracts', options).json())
df['income_mean'] = data

In [51]:
# Number of Households

data = pd.Series(requests.get('http://localhost:5000/model_data/base/descriptive/households/tracts').json())
df['households'] = data

In [58]:
# Number of Persons

options = {'target_var':'persons',
          'spatial_agg':'sum'}

data = pd.Series(requests.post('http://localhost:5000/model_data/base/descriptive/households/tracts', options).json())
df['persons'] = data

In [60]:
# Number of Jobs

data = pd.Series(requests.post('http://localhost:5000/model_data/base/descriptive/jobs/tracts').json())
df['jobs'] = data

In [62]:
# Households Renting
options = {'hownrent':'2'}
data = pd.Series(requests.post('http://localhost:5000/model_data/base/descriptive/households/tracts', options).json())
df['hh_rent'] = data

In [64]:
# Households Own
options = {'hownrent':'1'}
data = pd.Series(requests.post('http://localhost:5000/model_data/base/descriptive/households/tracts', options).json())
df['hh_own'] = data

In [65]:
df

,job_density,pop_density,income_median,income_mean,households,persons,jobs,hh_rent,hh_own
0600140010,689.058298,1108.665072,114025.0,137803.985141,1346.0,2946.0,1831.0,212.0,1134.0
0600140020,22809.595446,8168.977419,74100.0,96481.841981,848.0,1877.0,5241.0,334.0,514.0
0600140030,3854.539340,11343.358630,54000.0,78521.399752,2419.0,4841.0,1645.0,1197.0,1222.0
0600140040,4228.999517,14851.186292,54210.0,68762.547696,1866.0,4035.0,1149.0,1068.0,798.0
0600140050,2946.215888,15757.190503,37730.0,56054.495226,1571.0,3578.0,669.0,976.0,595.0
0600140060,1347.797217,14260.564100,40000.0,56642.791304,690.0,1640.0,155.0,435.0,255.0
0600140070,2029.602879,12071.724951,30000.0,42296.902884,1699.0,4104.0,690.0,1106.0,593.0
0600140080,2794.026437,15847.717952,34710.0,50297.825263,1900.0,4254.0,750.0,1247.0,653.0
0600140090,1279.268139,14254.702126,28000.0,41075.709384,991.0,2340.0,210.0,629.0,362.0
0600140100,6072.582842,13222.342242,30000.0,38307.525235,2338.0,5892.0,2706.0,1584.0,754.0
0600140110,4201.831665,11723.051905,30570.0,42251.091090,2009.0,4012.0,1438.0,1459.0,550.0
0600140120,3116.805811,9466.860988,45500.0,60747.574713,1218.0,2439.0,803.0,693.0,525.0
0600140130,11599.473154,9189.979252,19100.0,28076.559364,1634.0,3036.0,3832.0,1437.0,197.0
0600140140,2813.144732,13383.853012,20400.0,29451.898426,1398.0,3906.0,821.0,1200.0,198.0
0600140150,2550.909180,12826.636814,25670.0,35725.070064,942.0,2313.0,460.0,679.0,263.0
0600140160,4739.645058,8901.085993,25000.0,35097.262745,765.0,2186.0,1164.0,565.0,200.0
0600140170,1450.192244,1211.841164,28600.0,38359.799034,1035.0,2715.0,3249.0,686.0,349.0
0600140180,2575.273391,16258.039083,28000.0,46312.303599,639.0,1875.0,297.0,442.0,197.0
0600140220,2790.712152,9465.892129,28000.0,39443.146453,874.0,2605.0,768.0,624.0,250.0
0600140240,845.198544,18748.040429,20000.0,30182.884354,1029.0,2440.0,110.0,844.0,185.0
0600140250,3536.405136,13054.224973,20355.0,31910.922849,674.0,1842.0,499.0,528.0,146.0
0600140260,2941.653769,9483.176654,20785.0,26739.980645,620.0,1167.0,362.0,537.0,83.0
0600140270,3318.873721,10710.024981,25000.0,36400.902479,605.0,1649.0,511.0,505.0,100.0
0600140280,68228.755363,20090.228137,13700.0,22563.653333,2025.0,3090.0,10494.0,1799.0,226.0
0600140290,106871.795206,10822.881290,19200.0,26962.959913,923.0,1627.0,16066.0,828.0,95.0
0600140300,53112.883490,20841.950001,16300.0,26408.720853,1501.0,2843.0,7245.0,1319.0,182.0
0600140310,114053.325346,11081.983554,20000.0,31503.566334,701.0,1484.0,15273.0,614.0,87.0
0600140330,8866.019349,11548.199966,25000.0,36210.529698,2054.0,4129.0,3170.0,1603.0,451.0
0600140340,16145.942167,16353.846670,25300.0,32833.697238,2715.0,4169.0,4116.0,2332.0,383.0
0600140350,6988.162209,21754.505837,33000.0,38297.756989,3720.0,7132.0,2291.0,3158.0,562.0
...,...,...,...,...,...,...,...,...,...
0609715150,175.286135,813.665768,64000.0,80125.862202,5704.0,13573.0,2924.0,1494.0,4210.0
0609715160,18.151410,178.562653,48940.0,72360.386383,3613.0,6050.0,615.0,506.0,3107.0
0609715170,1091.869639,3575.899596,48000.0,64825.438849,2919.0,6740.0,2058.0,1173.0,1746.0
0609715180,6711.595583,5211.573991,50520.0,62089.451658,2141.0,5076.0,6537.0,548.0,1593.0
0609715190,2709.162086,7718.207386,35660.0,45604.024078,1329.0,2923.0,1026.0,571.0,758.0
0609715200,14137.135541,3802.626719,30000.0,39819.276986,982.0,1867.0,6941.0,649.0,333.0
0609715210,12036.410523,2782.784629,36800.0,50815.401760,1023.0,2327.0,10065.0,496.0,527.0
0609715220,1620.989019,6942.486746,42000.0,54427.506602,6437.0,14202.0,3316.0,2852.0,3585.0
0609715230,987.882776,3149.155726,61200.0,76517.718071,1887.0,4227.0,1326.0,410.0,1477.0
0609715240,666.505950,1222.051139,86500.0,110606.150230,4127.0,9890.0,5394.0,664.0,3463.0
0609715250,487.794017,5241.248611,50000.0,64502.290967,3155.0,7747.0,721.0,1230.0,1925.0
0609715260,19.200654,172.321658,73400.0,97758.421248,3238.0,8185.0,912.0,636.0,2602.0
0609715270,579.840625,589.014032,55825.0,73742.381263,3992.0,10145.0,9987.0,1463.0,2529.0
0609715280,2786.754245,4377.504173,45000.0,57124.418309,4719.0,12276.0,7815.0,2418.0,2301.0
0609715290,150.820803,1596.036064,57200.0,68569.700858,6873.0,19408.0,1834.0,2526.0,4347.0
0609715300,774.726154,2431.864426,48000.0,60230.167472,11584.0,32542.0,10367.0,4565.0,7019.0
0609715310,916.955541,7699.687660,42000.0,51985.831650,3861.0,13494.0,1607.0,1837.0,2024.0
0609715320,1038.103607,1476.963388,52620.0,66141.892171,2133.0,7229.0,5081.0,820.0,1313.0
0609715330,419.359598,847.667012,50000.0,61191.480638,3512.0,10705.0,5296.0,1137.0,2375.0
0609715340,587.172130,1272.529563,48700.0,67690.074335,5973.0,13777.0,6357.0,1944.0,4029.0
0609715350,17.603701,181.680082,64700.0,84119.594667,3375.0,8081.0,783.0,879.0,2496.0
0609715360,67.560250,328.291849,60400.0,81048.106258,2221.0,5282.0,1087.0,558.0,1663.0
0609715370,30.720588,172.978920,43100.0,60530.727636,6998.0,14775.0,2624.0,2489.0,4509.0
0609715380,147.301022,675.664974,62000.0,77730.449352,9645.0,27664.0,6031.0,2927.0,6718.0
0609715390,292.147321,470.541315,49000.0,64939.183077,5200.0,13212.0,8203.0,1890.0,3310.0
0609715400,11.957125,29.436479,78450.0,102426.805556,1080.0,2548.0,1035.0,253.0,827.0
0609715410,11.606291,16.305991,60000.0,77333.767641,1403.0,3650.0,2598.0,436.0,967.0
0609715420,30.186144,124.823438,42200.0,58050.075655,3701.0,9701.0,2346.0,1316.0,2385.0
0609715430,2.905919,17.212326,50000.0,69682.001592,3768.0,7712.0,1302.0,1033.0,2735.0
0609799010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN