In [1]:
import pandas as pd
import requests

In [2]:
# with pd.HDFStore('./../data/bayarea_block_baseline.h5') as store:
#     hh = store.households
#     buildings = store.buildings
#     jobs = store.jobs

In [3]:
base_url = 'http://localhost:5000/run20/base'
geo = 'blockgroups'

In [4]:
data_dictionary = {}

In [6]:
# buildings.head()

In [7]:
# hh.income.describe()

In [8]:
# Job Density

options = {'area_unit':'miles'}

data = pd.Series(requests.post(base_url + '/density/jobs/' + geo, options).json())
df = pd.DataFrame(data, columns=['job_density'])

data_dictionary['job_density'] = 'Job Density in Jobs per Square Mile'

In [9]:
# Population Density

options = {'area_unit':'miles'}

data = pd.Series(requests.post(base_url + '/density/population/' + geo, options).json())
df['pop_density'] = data

data_dictionary['pop_density'] = 'Population Density in Persons per Square Mile'

In [10]:
# Median Income

options = {'target_var':'income',
          'spatial_agg':'median'}

data = pd.Series(requests.post(base_url + '/descriptive/households/' + geo, options).json())
df['income_median'] = data

data_dictionary['income_median'] = 'Median Income'

In [11]:
# Mean Income

options = {'target_var':'income',
          'spatial_agg':'mean'}

data = pd.Series(requests.post(base_url + '/descriptive/households/' + geo, options).json())
df['income_mean'] = data

data_dictionary['income_mean'] = 'Mean Income'

In [12]:
# Number of Households

data = pd.Series(requests.get(base_url + '/descriptive/households/' + geo).json())
df['households'] = data

data_dictionary['households'] = 'Number of Households'

In [13]:
# Number of Persons

options = {'target_var':'persons',
          'spatial_agg':'sum'}

data = pd.Series(requests.post(base_url + '/descriptive/households/' + geo, options).json())
df['persons'] = data

data_dictionary['persons'] = 'Total Population'

In [14]:
# Number of Jobs

data = pd.Series(requests.post(base_url + '/descriptive/jobs/' + geo).json())
df['jobs'] = data

data_dictionary['Jobs'] = 'Number of Jobs'

In [15]:
# Households Renting
options = {'hownrent':'2'}
data = pd.Series(requests.post(base_url + '/descriptive/households/' + geo, options).json())
df['hh_rent'] = data

data_dictionary['hh_rent'] = 'Number of Households Renting their Homes'

In [16]:
# Households Own
options = {'hownrent':'1'}
data = pd.Series(requests.post(base_url + '/descriptive/households/' + geo, options).json())
df['hh_own'] = data

data_dictionary['hh_rent'] = 'Number of Households that Own their Homes'

In [17]:
# Number of Buildings
data = pd.Series(requests.get(base_url + '/descriptive/buildings/' + geo).json())
df['buildings'] = data

data_dictionary['buildings'] = 'Number of Buildings'

In [18]:
# Number of Residential Units

options = {'target_var':'residential_units',
          'spatial_agg':'sum'}

data = pd.Series(requests.post(base_url + '/descriptive/buildings/' + geo, options).json())
df['res_units'] = data

data_dictionary['res_units'] = 'Number of Residential Units'

In [19]:
# Residential Square Feet

options = {'target_var':'residential_sqft',
          'spatial_agg':'sum'}

data = pd.Series(requests.post(base_url + '/descriptive/buildings/' + geo, options).json())
df['res_sqft'] = data

data_dictionary['res_sqft'] = 'Total Residential Square Feet'

In [20]:
# Non-Residential Square Feet

options = {'target_var':'non_residential_sqft',
          'spatial_agg':'sum'}

data = pd.Series(requests.post(base_url + '/descriptive/buildings/' + geo, options).json())
df['non_res_sqft'] = data

data_dictionary['non_res_sqft'] = 'Total Non-Residential Square Feet'

In [21]:
df.head()

,job_density,pop_density,income_median,income_mean,households,persons,jobs,hh_rent,hh_own,buildings,res_units,res_sqft,non_res_sqft
06001400100,1015.711822,1545.206648,73650.0,99333.474531,1492.0,4106.0,2699.0,532.0,960.0,1501.0,1538.0,3.789376e+06,2.175272e+06
06001400200,22296.042257,10353.754544,58000.0,81984.163536,905.0,2379.0,5123.0,340.0,565.0,664.0,933.0,1.457924e+06,2.370310e+06
06001400300,4084.171471,17515.307944,41820.0,64673.341553,3001.0,7475.0,1743.0,1457.0,1544.0,1530.0,3053.0,3.255548e+06,7.665925e+05
06001400400,4545.530377,19289.979519,56080.0,75146.463650,1967.0,5241.0,1235.0,878.0,1089.0,1094.0,2005.0,2.327632e+06,5.970030e+05
06001400500,3650.841511,19888.058220,50700.0,70629.397015,1675.0,4516.0,829.0,730.0,945.0,924.0,1710.0,1.778475e+06,3.401380e+05

In [22]:
naics = {11: 'Agriculture, Forestry, Fishing and Hunting',
         21: 'Mining, Quarrying, and Oil and Gas Extraction',
         22: 'Utilities',
         23: 'Construction',
         3133: 'Manufacturing',
         42: 'Wholesale Trade',
         4445: 'Retail Trade',
         4849: 'Transportation and Warehousing',
         51: 'Information',
         52: 'Finance and Insurance',
         53: 'Real Estate and Rental and Leasing',
         54: 'Professional, Scientific, and Technical Services',
         55: 'Management of Companies and Enterprises',
         56: 'Administrative and Support and Waste Management and Remediation Services',
         61: 'Educational Services',
         62: 'Health Care and Social Assistance',
         71: 'Arts, Entertainment, and Recreation',
         72: 'Accommodation and Food Services',
         81: 'Other Services (except Public Administration)',
         92: 'Public Administration'}

In [28]:
options = {'sector_id':'21'}
print requests.post(base_url + '/descriptive/jobs/' + geo, options).text

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>500 Internal Server Error</title>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error and was unable to complete your request.  Either the server is overloaded or there is an error in the application.</p>

In [30]:
# Jobs by Sector

for key, value in naics.items():
    
    print key
    
    options = {'sector_id':str(key)}
    
    try:
        data = pd.Series(requests.post(base_url + '/descriptive/jobs/' + geo, options).json())
    except:
        data = 0
        
    df['jobs_' + str(key)] = data
    
    data_dictionary['jobs_' + str(key)] = 'Number of Jobs in ' + value

54
81
71
72
42
11
61
4445
4849
51
52
21
22
23
56
55
92
3133
62
53

In [ ]:
dd = pd.DataFrame(pd.Series(data_dictionary), columns=['Variable Definition'])
dd.index.name = 'Variable'

In [ ]:
dd.to_csv('baseline_dictionary.csv')

In [ ]:
df.to_csv('baseline_results_v2.csv')